<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="weddingApp">
    <ion-nav-view>
    </ion-nav-view>
    <script id="templates/home.html" type="text/ng-template">
        <ion-view>
            <div class="main-container">
                <img src="img/main.jpg" class="fullPage">
                <div class="button-bar bottom-nav-bar">
                    <div class="button" ui-sref="lection"></div>
                    <div class="button" ui-sref="timelocation"></div>
                    <div class="button" ui-sref="thanks"></div>
                    <div class="button" ui-sref="photos"></div>
                </div>
            </div>
        </ion-view>
    </script>
    <script id="templates/lection.html" type="text/ng-template">
        <ion-view>
            <a class="button button-clear go-back-btn-left icon ion-chevron-left" ng-click="$ionicGoBack()"></a>
            <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" class="fullPage">
                <ion-slide>
                    <div style="background-image: url(img/Invetation-c.jpg);" class="div-image fullPage"></div>
                </ion-slide>
                <ion-slide>
                    <div style="background-image: url(img/Invetation-e.jpg);" class="div-image fullPage"></div>
                </ion-slide>
            </ion-slide-box>
        </ion-view>
    </script>
    <script id="templates/timelocation.html" type="text/ng-template">
        <ion-view>
            <img src="img/button.png" class="go-back-btn" ng-click="$ionicGoBack()"></img>
            <ion-slide-box class="fullPage slider-background-dark" on-slide-changed="slideHasChanged($index)" show-pager="false">
                <ion-slide>
                    <div class="fullPage fullBackground background-light">
                        <img src="img/timepositionCover.png" class="fullPage">
                    </div>
                </ion-slide>
                <ion-slide>
                    <img src="img/workflow.jpg" class="fullPage">
                </ion-slide>
            </ion-slide-box>
        </ion-view>
    </script>
    <script id="templates/thanks.html" type="text/ng-template">
        <ion-view>
            <a class="button button-clear go-back-btn-left icon ion-chevron-left" ng-click="$ionicGoBack()"></a>
            <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" class="fullPage">
                <ion-slide>
                    <div style="background-image: url(img/thanks1.png);" class="div-image fullPage"></div>
                </ion-slide>
                <ion-slide>
                    <div style="background-image: url(img/thanks2.png);" class="div-image fullPage"></div>
                </ion-slide>
            </ion-slide-box>
        </ion-view>
    </script>
    <script id="templates/photos.html" type="text/ng-template">
        <ion-view class="fullBackground background-light">
            <img src="img/button.png" class="go-back-btn" ng-click="$ionicGoBack()"></img>
            <ion-scroll class="fullPage">
                <div class="photo-wall-container">
                    <img ng-repeat="i in photos" ng-src="img/avatars/{{i}}.png" class="photo-wall-avatar" ng-click="onImgClick(i)">
                </div>
            </ion-scroll>
        </ion-view>
    </script>
    <script id="templates/photo.html" type="text/ng-template">
        <ion-view class="fullBackground background-dark">
            <img src="img/button.png" class="go-back-btn" ng-click="closeModal()"></img>
            <ion-scroll zooming="true" min-zoom="1" direction="xy" scrollbar-x="false" scrollbar-y="false" class="fullPage photo-detail-wrapper ">
                <span class="vl-helper"></span>
                <img ng-src="img/photos/{{currentIndex}}.jpg" class="photo-detail">
            </ion-scroll>
        </ion-view>
    </script>
</body>

</html>
