.fullPage {
    height: 100%;
    width: 100%;
}

.fullBackground {
  /* background: url() no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
}

.background-light {
    background-image: url('../img/background-light.png');
}

.background-dark {
    background-image: url('../img/background-dark.png');
}

.photo-wall-container {
    /* position: relative; */
    /* top: 60px !important; */
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 5%;
    padding-right: 3.2%;
    width: 100%;
}

.photo-wall-avatar {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.photo-detail-wrapper {
}

.photo-detail {
    width: -moz-calc(100% - 4px);
    width: -webkit-calc(100% - 4px);
    width: -calc(100% - 4px); /* 5px is for .vl-helper */
    vertical-align: middle;
}

.go-back-btn {
    position: fixed;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.go-back-btn-left {
    position: fixed;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    z-index: 1;
}

.main-container .bottom-nav-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 7.5%;
}

.main-container .bottom-nav-bar .button {
    background: black;
    opacity: 0;
    border: none;
    min-height: 40px !important;
    height: 100%;
}

.main-container .bottom-nav-bar .button:active {
  opacity: 0.4;
}

.main-container{
  position: absolute;
  height: 100%;
  width: 100%;
}

.div-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-background-dark {
  background-color: black;
}

.vl-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.scroll {
  height: 100%;
}

.thanks-container {
  width: 100%;
  height: 100%;
  padding: 5%;
  padding-bottom: calc(2.5% + 15px + 2.5%); /* 35px is for slider pager */
}

.div-image-thanks {
  height: 100%;
  width: 100%;
}

.slider-pager {
  bottom: 2.5%;
}

.ion-record:before {
  color: #4E362C;
}

.preload {
  display: none;
}

.ion-lazy-img svg {
  height: auto;
  width: 23% !important;
  transform: scale(0.3);
}

